<h1 class="component-heading">Drop image to crop.</h1>
<h2 class="component-heading">(To maintain aspect ratio, drag handle while holding shift)</h2>
<div class="component">
    <div class="overlay">
        <div class="overlay-inner"></div>
    </div>
    <button class="btn-crop crop_btn">
        Crop<img class="icon-crop" src="../../assets/crop.svg" />
    </button>
    <button class="btn-refresh refresh_btn">
        Clear<img class="icon-clear" src="../../assets/clear.svg" />
    </button>
</div>
<div class="result">
    <h1 class="component-heading">Cropped Image</h1>
    <h2 class="component-heading">(To download cropped image, right-click on it and select 'Save as')</h2>
</div>
